.app-layout {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    gap: 20px;
  }
}